{% extends "base.html" %}

{% block css %}

<style>
    .well {
        padding: 0px;
        margin: 0px;
    }

    .post {
        margin-bottom: 100px;
        padding-bottom: 0px;
    }

    .blog-title {
        background: rgb(186, 217, 243);
    }

    hr.hr-post {
        border: none;
        height: 1px;
        /* Set the hr color */
        color: #333;
        /* old IE */
        background-color: #333;
        margin-top: -2px;
        /* Modern Browsers */
    }
</style>

{% endblock %}


{% block content %}

<br>

<br>

{% for object in object_list %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="well post col-md-6">
        <div class="well blog-title text-center">
            <h1>
                <a href="/posts/{{object.id}}"> {{ object.title }} </a>
            </h1>
            <div style="height:40px;">
                {{ object.when_posted }}
            </div>
        </div>
        <hr class="hr-post">
        <div class="post" style="margin:30px;">
            {{ object.content }}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}