{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block css %}
<style>
    .field {
        margin: 20px;
    }
</style>
{% endblock %}

{% block content %}
<center>
    <div class="content-section">
        <center>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group" style="padding:10px;">
                    <legend class="border-bottom mb-4" style="padding:10px;">New Post</legend>
                    <h5>Title</h5>
                    <div class="field">{{ form.title }}</div>
                    <h5>Content</h5>
                    <div class="field">{{ form.content }}</div>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Skrt</button>
                </div>
            </form>
        </center>
    </div>
</center>
{% endblock content %}